@use '../styles/global.scss' as global;

.deal__module {
    @include global.module;
    h2 {
        margin-bottom: 10px;
    }
}
.grid-2-2 {
    @include global.display-grid($col: 2, $row: 2);    
}
.grid-1-1 {
    @include global.display-grid;
}
.more {
    align-self: end;
}
.more a {
    display: block;    
    text-decoration: none;
    margin-top: 20px;    
}